.contactBody {
    background: #323334;
    border-top: 5px solid #9fc5ff;
    height: 100%;
    justify-content: center;
    margin: auto;
    padding-top: 2em;
    width: 100%;
}

.hr {
    border-top: 5px dotted #9fc5ff;
    margin: auto auto 20px auto;
    width: 50%;

}

.title {
    font-family: Anton;
    font-size: 48px;
    color: #FFF;
    margin-bottom: 20px;
}

.pgraph {
    font-family: Oxygen;
    font-weight: bold;
    margin: auto;
    padding-top: 1em;
    width: 75%;
}